<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produto</title>
</head>
<body>
    <h1>Cadastrar Produto</h1>
    <form action="{% url 'criarProduto' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Salvar">
        <button type="button"><a href="{% url 'homeProduto' %}">Voltar</a></button>
    </form>
    <br>
</body>
</html>
