<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastrar Produto</h1>
    <form action="{% url 'criarProduto' %}" method="POST">
        {% csrf_token %}
        <label for="nome">Nome: </label>
        <br>
        <input type="text" id="nome" name="nome"> <br><br>
        <label for="precoVenda">Preço: </label>
        <br>
        <input type="number" id="precoVenda" name="precoVenda"> <br><br>
        <label for="quantidadeEstoque">Quantidade: </label>
        <br>
        <input type="number" id="quantidadeEstoque" name="quantidadeEstoque"> <br><br>
        <label for="descricao">descricão: </label>
        <br>
        <textarea name="descricao" id="descricao" cols="60" rows="10"></textarea> <br><br>
        <input type="submit" value="Salvar">
    </form>
</body>
</html>
