<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ControlCash - Produtos</title>
</head>
<body>
    <h1>produtos</h1>

    <a href="{% url 'criarProduto' %}"> Criar Produto </a>
    <ul>
        {% if produtos%}
            {%for produto in produtos%}
                <li>{{ produto.id }} - {{produto.nome}} <a href="{% url 'atualizarProduto' produto.id %}">Editar</a> | <a href="{% url 'vizualizarProduto' produto.id %}">Vizualizar</a> | <a href="{% url 'deletarProduto' produto.id %}">Deletar</a></li>
            {% endfor %}
        {% endif %} 
    </ul>
</body>
</html>