<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vizualizar Produto: {{produto.nome}}</title>
</head>
<body>
    <header><h1>Vizualizando produto: {{produto.nome}}</h1></header>
    <table border="1px">
        <thead>
        <tr><th colspan="8">Produto</th></tr>
        </thead>
        <tbody>
        <tr>
        <td> ID </td>
        <td> Nome </td>
        <td> Preço </td>
        <td> Quantidade </td>
        <td> Descrição </td>
        <td> Data registro </td>
        </tr>
        <tr>
            <td>
                {{produto.id}}
            </td>
            <td>
                {{produto.nome}}
            </td>
            <td>
                {{produto.preco_venda}}
            </td>
            <td>
                {{produto.quantidade_estoque}}
            </td>
            <td>
                {{produto.descricao}}
            </td>
            <td>
                {{produto.data_registro}}
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <button type="button"><a href="{% url 'homeProduto' %}">Voltar</a></button>
</body>
</html>