<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Remover despesa | ControlCash</title>
</head>
<body>
  <h1>Tem certeza que deseja remover a despesa {{ despesa.nome }}?</h1>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Remover</button>
    <a href="{% url 'despesa:despesa_listar' %}">Cancelar</a>
  </form>
</body>
</html>