<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <h1>Confirmar Exclusão</h1>

  <p>Você tem certeza de que deseja excluir a forma de pagamento "{{ object.nome }}"?</p>

  <form method="post">
    {% csrf_token %}
    <input type="submit" value="Confirmar">
    <a href="{% url 'app:forma_pagamento_lista' %}">Cancelar</a>
  </form>

</body>
</html>