<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamentos</title>
</head>
<body>
    
  <h1>Lista de Formas de Pagamento</h1>

  <a href="{% url 'app:forma_pagamento_criar' %}">Criar Nova Forma de Pagamento</a>

  <ul>
    {% for forma_pagamento in object_list %}
      <li>{{ forma_pagamento.nome }}</li>
      <p>{{ forma_pagamento.descricao }}</p>
      <p>Taxas: {{ forma_pagamento.taxas }}</p>
      <p><a href="{% url 'app:forma_pagamento_atualizar' forma_pagamento.pk %}">Editar</a> | <a href="{% url 'app:forma_pagamento_remover' forma_pagamento.pk %}">Remover</a></p>
    {% empty %}
      <li>Nenhuma forma de pagamento encontrada.</li>
    {% endfor %}
  </ul>

</body>
</html>
