<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listar pagamento</title>
  </head>
  <body>
    <h1>Listar pagamentos</h1>

    <a href="{% url 'pagamento:pagamento_criar' %}">Cadastrar pagamento</a>

    <ul>
        {% for pagamento in pagamento %}
          <li>
            <p>
              {{ pagamento.data }} (R$ {{ pagamento.valor | floatformat:2 }}) {{pagamento.status}}
            </p>
            <a href="{% url 'pagamento:pagamento_editar' pagamento.id %}">Editar</a>
            <a href="{% url 'pagamento:pagamento_remover' pagamento.id %}">Remover</a>
          </li>
        {% empty %}
          <li>Nenhuma pagamento encontrada</li>
        {% endfor %}
      </ul>
  </body>
</html>
