<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar fornecedor</title>
</head>
<body>
    <h1>Cadastrar fornecedor</h1>
    <form action="{% url 'fornecedor_criar' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {{ endereco_form.as_p }}
        <input type="submit" value="Salvar">
        <button type="button"><a href="/fornecedor">Voltar</a></button>
    </form>
    <br>
</body>
</html>
