{% extends 'base.html' %}

{% load static %}

{% block title %}Editar fornecedor | {% endblock %}

{% block head %}
<script src="{% static '/js/venda/cep-cliente.js' %}" defer></script>
{% endblock %}

{% block content %}
<main class="row my-3">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'fornecedor_listar' %}" class="text-decoration-none">Fornecedores</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'fornecedor_vizualizar' fornecedor.id %}" class="text-decoration-none">{{ fornecedor.nome|capfirst }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
      </ol>
    </nav>

    <h2 class="fs-2">Editar fornecedor</h2>

    <div class="col-12 mb-5">
      <form action="" method="post">
        {% csrf_token %}

        {% include 'form_render.html' %}

        <h4 class="fs-3 mt-4">Endereço</h4>

        {% include 'form_render.html' with form=endereco_form %}
        
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}

