{% load static %}

<header class="navbar bg-light shadow-sm">
  <div class="container-fluid">
    <button
      class="btn btn-link"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#navbarPrincipal"
      aria-controls="navbarPrincipal"
      aria-label="Abrir navegação"
    >
      <i class="bi bi-list" style="font-size: 24px"></i>
    </button>

    <a href="{% url 'pagina_inicial' %}" class="navbar-brand" class="m-0" title="ControlCash">
      <h1 class="mb-0">
        <img src="{% static '/img/logo.svg' %}" alt="" style="height: 38px" />
      </h1>
    </a>

    <a href="" title="Usuário">
      <img
        src="{% static '/img/user_default.svg' %}"
        alt="Sua imagem de perfil"
        width="30px"
      />
    </a>

    <!-- Navegação lateral -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarPrincipal">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title">
          <a href="{% url 'pagina_inicial' %}">
            <img
            src="{% static 'img/logo.svg' %}"
            alt="Logo do ControlCash"
            height="40px"
            />
          </a>
        </h5>
        <button
          type="button"
          class="btn btn-link"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
          title="Fechar"
        >
          <i class="bi bi-x-lg" style="font-size: 20px"></i>
        </button>
      </div>
      <div class="offcanvas-body">
        {% with url_name=request.resolver_match.url_name %}
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">

          <!-- Cliente -->
          <li class="nav-item dropdown">
            <button
            class="nav-link dropdown-toggle
            {% if 'cliente' in url_name %}active fw-bold{% endif %}"

              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="true"
            >
              <img

                src="{% static '/img/icons/clientes.svg' %}"
                alt=""
                height="28px"
              />
              Clientes
            </button>
            <ul class="dropdown-menu border-0">
              <li>
                <a
                  class="dropdown-item rounded-2 {% if url_name == 'cliente_listar' %}active fw-bold{% endif %}"
                  href="{% url 'venda:cliente_listar' %}"
                >
                  Mostrar todos

                </a>
              </li>
              <li>
                <a

                  class="dropdown-item rounded-2 {% if url_name == 'cliente_criar' %}active fw-bold{% endif %}"
                  href="{% url 'venda:cliente_criar' %}"
                >
                  Cadastrar
                </a>
              </li>
            </ul>
          </li>

          <!-- Despesas -->
          <li class="nav-item dropdown">
            <button
            class="nav-link dropdown-toggle
            {% if 'despesa' in url_name %}active fw-bold{% endif %}"

              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="true"
            >
              <img

                src="{% static '/img/icons/despesas.svg' %}"
                alt=""
                height="28px"
              />
              Despesas
            </button>
            <ul class="dropdown-menu border-0">
              <li>
                <a
                  class="dropdown-item rounded-2 {% if url_name == 'despesa_listar' %}active fw-bold{% endif %}"
                  href="{% url 'despesa:despesa_listar' %}"
                >
                  Mostrar todas

                </a>
              </li>
              <li>
                <a

                  class="dropdown-item rounded-2 {% if url_name == 'despesa_criar' %}active fw-bold{% endif %}"
                  href="{% url 'despesa:despesa_criar' %}"
                >
                  Cadastrar
                </a>
              </li>
            </ul>
          </li>

          <!-- Produto -->
          <li class="nav-item dropdown">
            <button
            class="nav-link dropdown-toggle
            {% if 'Produto' in url_name %}active fw-bold{% endif %}"

              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="true"
            >
              <img

                src="{% static '/img/icons/produtos.svg' %}"
                alt=""
                height="28px"
              />
              Produtos
            </button>
            <ul class="dropdown-menu border-0">
              <li>
                <a
                  class="dropdown-item rounded-2 {% if url_name == 'homeProduto' %}active fw-bold{% endif %}"
                  href="{% url 'homeProduto' %}"
                >
                  Mostrar todos
                </a>
              </li>
              <li>
                <a

                  class="dropdown-item rounded-2 {% if url_name == 'criarProduto' %}active fw-bold{% endif %}"
                  href="{% url 'criarProduto' %}"
                >
                  Cadastrar
                </a>
              </li>
            </ul>
          </li>

          <!-- Venda -->
          <li class="nav-item dropdown">
            <button
            class="nav-link dropdown-toggle
            {% if 'venda_' in url_name or 'item_' in url_name %}active fw-bold{% endif %}"

              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="true"
            >
              <img

                src="{% static '/img/icons/vendas.svg' %}"
                alt=""
                height="28px"
              />
              Vendas
            </button>
            <ul class="dropdown-menu border-0">
              <li>
                <a
                  class="dropdown-item rounded-2 {% if url_name == 'venda_listar' %}active fw-bold{% endif %}"
                  href="{% url 'venda:venda_listar' %}"
                >
                  Mostrar todas
                </a>
              </li>
              <li>
                <a

                  class="dropdown-item rounded-2 {% if url_name == 'venda_criar' %}active fw-bold{% endif %}"
                  href="{% url 'venda:venda_criar' %}"
                >
                  Cadastrar
                </a>
              </li>
            </ul>
          </li>
        </ul>
        {% endwith %}
      </div>
    </div>
  </div>
</header>
