<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listar vendas | ControlCash</title>
  </head>
  <body>
    <h1>Listar vendas</h1>

    <ul>
      {% for venda in vendas %}
      <li>
        <a href="{% url 'venda_detalhar' venda.id %}">
          {{ venda.id }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
