{% extends 'base.html' %}

{% block title %}Editar item de venda | {% endblock %}

{% block content %}
<main class="row my-3 g-1">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'venda:venda_listar' %}" class="text-decoration-none">Vendas</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'venda:venda_detalhar' item.venda.id %}" class="text-decoration-none">#{{ item.venda.id }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Item "{{ item.produto.nome }}"</li>
      </ol>
    </nav>
  </div>

  <div class="col-12">
    <h2 class="fs-2">Editando item "{{ item.produto.nome }}" </h2>

    <form method="post">
      {% csrf_token %}

      {% include 'form_render.html' %}

      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>
</main>
{% endblock %}