{% extends 'base.html' %}

{% block title %}Remover item de venda | {% endblock %}

{% block content %}
<main class="row my-3 g-1">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'venda:venda_listar' %}" class="text-decoration-none">Vendas</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'venda:venda_detalhar' item.venda.id %}" class="text-decoration-none">#{{ venda.id }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Remover "{{ item.produto.nome }}"</li>
      </ol>
    </nav>
  </div>

  <col-12>
    <h2 class="fs-2">Tem certeza que deseja remover o produto "{{ item.produto.nome }}" da venda?</h2>
    
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Remover</button>
      <a
        href="{% url 'venda:venda_detalhar' pk=item.venda.id %}"
        class="btn btn-outline-primary"
      >
        Cancelar
      </a>
    </form>
  </col-12>
</main>
{% endblock %}
