<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastrar cliente | ControlCash</title>
  </head>
  <body>
    <a href="#">Ir à lista de clientes</a>

    <h1>Cadastrar cliente</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Cadastrar</button>
    </form>
  </body>
</html>
