{% extends 'base.html' %}

{% block title %}Editar produto | {% endblock %}


{% block content %}
<main class="row my-3">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'homeProduto' %}" class="text-decoration-none">Produtos</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'vizualizarProduto' produto.id %}" class="text-decoration-none">
            {{ produto.nome|capfirst }}
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
      </ol>
    </nav>

    <h2 class="fs-2">Editar produto</h2>

    <div class="col-12 mb-5">
      <form action="" method="post">
        {% csrf_token %}

        {% include 'form_render.html' %}
        
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}
