{% extends 'base.html' %}

{% block title %}Cadastrar venda | {% endblock %}

{% block content %}
<main class="row my-3">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'venda:venda_listar' %}" class="text-decoration-none">Vendas</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Cadastrar</li>
      </ol>
    </nav>

    <h2 class="fs-2">Cadastrar venda</h2>

    <div class="col-12 mb-5">
      <form action="" method="post">
        {% csrf_token %}

        {% include 'form_render.html' %}
        
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>

    <section class="col-12">
      <h3 class="fs-4">Outras opções</h3>
      
      <a href="{% url 'criarProduto' %}" class="btn btn-sm btn-outline-secondary">Cadastrar produto</a>
      <a href="{% url 'venda:cliente_criar' %}" class="btn btn-sm btn-outline-secondary">Cadastrar cliente</a>
    </section>
  </div>
</main>
  
{% endblock %}
