{% extends 'base.html' %}

{% block title %}Desativar venda | {% endblock %}

{% block content %}
<main class="row my-3 g-1">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'venda:venda_listar' %}" class="text-decoration-none">Vendas</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'venda:venda_detalhar' venda.id %}" class="text-decoration-none">#{{ venda.id }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Desativar</li>
      </ol>
    </nav>
  </div>

  <col-12>
    <h2 class="fs-2">Tem certeza que deseja desativar a venda?</h2>
    <p class="mb-0">
      Não será possível adicionar mais itens até que um gerente a reative.
    </p>
    <p>
      Vendas inativas não aparecem no dashboard dos vendedores.
    </p>
    
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Desativar</button>
      <a
        href="{% url 'venda:venda_detalhar' pk=venda.id %}"
        class="btn btn-outline-primary"
      >
        Cancelar
      </a>
    </form>
  </col-12>

</main>
{% endblock %}